
.contenedorPrincipal{
	background-color: black;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
	
p{
	display: flex;
	justify-content: center;
	flex-direction: row;
	color: #AEB6BF;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
}

.ciudad{
	display: flex;
	justify-content: center;
	flex-direction: row;
	font-family: 'Source Sans 3', sans-serif;
	font-style: italic;
	font-size: 10px;
}

.imagen{
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.profile-img{
	width: 160px;
	height: 160px;
	border-radius: 1000px;
	border: 8px solid #85929E;
	transition: all .6s ease-in-out;
}

.profile-img:hover {
	transform: scale(1.4);
	border: 8px solid ;
}


.social-links{
	
	display: flex;
	justify-content: center;
}

.social-links a {
	text-decoration: none;
	font-size: 18px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #85929E;
	color: #FFFFFF;
	border-radius: 50%;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
	transition: all .1s ease-in-out;
	margin: 12px;
}

.social-links a:hover{
	transform: scale(1.8);
	color: #FFFFFF;
}
